<!DOCTYPE html>
<html>
<head>
	<title>註冊</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"><!-- icon -->

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
	<!--  -->
	<div class="container-fluid"> <!--滿版格式  -->
		<div class="row "> <!-- 圖片 -->
			<div class="col-lg-12 col-md-12 d-none  d-md-block infinity-image-container"></div><!-- col滿版為12 ig->md 螢幕大到小rwd 
			d-none d-md-block讓圖片消失 僅在md範圍時出現-->
			<div class="box infinity-form-container">		<!--右側登入 -->		
				<div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 infinity-form">
					<!-- Logo -->
					<div class="text-center mb-3 mt-5"> <!--mb ->margin-button
															mt ->margin-top  -->
						<h1 style="color: white">Spark Video</h1>
						<!-- <img src="logo.png" width="250px"> -->
					</div>
			  <form class="px-3" action="{{ url_for('register') }}" name="form1" method="post">
			  	<!-- 輸入框 px padding-right 和 padding-left-->
			  	<div class="form-input">
			  		<span><i class="fa fa-envelope-o"></i></span><!-- icon -->
			  		<input type="text" name="ID" placeholder="帳號" >
			  	</div>
			  	<div class="form-input">
			  		<span><i class="fa fa-lock"></i></span> <!-- icon -->
			  		<input type="password" name="password" placeholder="密碼" required>
			  	</div>
				  <div class="form-input">
					<span><i class="fa fa-lock"></i></span> <!-- icon -->
					<input type="password" name="checkpassword" placeholder="請再次輸入密碼" required>
				</div>
				<div style="color:red;"> {{ errorMsg|safe }} </div>
			  	<!-- Login Button -->
			  	<div class="mb-3"> 
			  		<button type="submit" class="btn btn-block" >註冊</button>
			  	</div>
			  </form>
			</div>					
		</div>
		<!-- FORM CONTAINER END -->
	</div>
</div>

</body>
</html>
